/* Устанавливаем box-sizing для всех элементов */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.custom-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.custom-input-group {
    margin-bottom: 15px;
    text-align: left;
}

.custom-input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.custom-input-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.custom-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.custom-btn:hover {
    background-color: #0056b3;
}

.custom-container select {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-overflow: ellipsis;
    overflow: hidden;
}

.custom-container select:hover,
.custom-container select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}

.custom-container option {
    padding: 10px;
    background-color: #fff;
}

.custom-input-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.custom-button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.custom-button-group .custom-btn {
    width: 48%;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.custom-button-group .custom-btn:hover {
    background-color: #0056b3;
}
