<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Результат запроса</title>
    <link href="{{url_for('static', filename='dynamic_query.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Кнопка "Главное меню" -->
    <div class="main-menu-button">
        <a href="{{ url_for('main_menu') }}" class="btn-back">Главное меню</a>
    </div>
    <div class="header-container">
        <h1>{{ query_info }}</h1>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>