<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>dynamic</title>
    <link href="{{url_for('static', filename='sem1.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>{{ query_name }}</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>