<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link href="{{url_for('auth_bp.static', filename='login_form.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('auth_bp.static', filename='login_form_toggle.js')}}"></script>
</head>
<body>
    {% include 'base_header.html' %}

    <div class="container">
        <h2>Вход в систему</h2>
        <form action="{{ url_for('auth_bp.login_form') }}" method="POST">
            <div class="input-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" required>
            </div>

            <div class="input-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <!-- Переключатель "Читатель/Сотрудник" -->
            <div class="toggle-container">
                <div id="reader" class="toggle-option active" onclick="selectRole('reader')">Читатель</div>
                <div id="employee" class="toggle-option" onclick="selectRole('employee')">Сотрудник</div>
            </div>

            <input type="hidden" id="role" name="role" value="reader">

            <button type="submit" class="btn">Войти</button>
        </form>

    {% include 'base_flash_message.html' %}
    </div>
</body>
</html>
