.page-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #003366;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
}

.library-link {
    color: white; /* Белый цвет текста */
    text-decoration: none; /* Убирает подчеркивание */
}

.library-link:hover {
    text-decoration: none; /* Убирает подчеркивание при наведении */
}

/* Контейнер для кнопки корзины и авторизации */
.header-actions {
    display: flex;
    align-items: center;
    gap: 24px; /* Расстояние между кнопками */
}

/* Кнопка корзины */
.btn-cart {
    background-color: #007BFF; /* Синий фон */
    border: none;
    /*padding: 10px 20px; */ /* Отступы вокруг иконки */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-cart a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart img {
    width: 29px; /* Размер иконки */
    height: 29px; /* Размер иконки */
}

.btn-cart:hover {
    background-color: #0056b3; /* Темно-синий при наведении */
}

/* Кнопка авторизации */
.btn-auth {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007BFF;
    color: white !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-auth a {
    text-decoration: none;
    color: white;
}

.btn-auth:hover {
    background-color: #0056b3;
}
