<link href="{{url_for('static', filename='styles/base_header_style.css')}}" rel="stylesheet" type="text/css">
<script>
    document.addEventListener("DOMContentLoaded", () => {
      if (window.location.href.includes("auth")) {
        document.getElementById("authButton").style.display = "none";
      }
      if (window.location.href.includes("catalog")) {
        document.getElementById("cartButton").style.display = "block";
      }
    });
</script>

<header class="page-header">
    <div class="header-title">
        <a href="/" class="library-link">Библиотека</a>
    </div>
    <div class="header-actions">
        <a href="/cart">
            <button class="btn btn-cart" id="cartButton" style="display: none;">
                <img src="{{ url_for('static', filename='icons/bookshelf.ico') }}" alt="Корзина">
            </button>
        </a>
        {% if 'user_id' in session %}
        <div class="dropdown">
            <button class="btn btn-auth dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {{ session.user_name or session.user_group}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{{ url_for('logout_func') }}">Выйти</a></li>
            </ul>
        </div>
        {% else %}
        <a href="{{ url_for('auth_bp.auth_index') }}">
            <button class="btn btn-auth" id="authButton">Войти</button>
        </a>
        {% endif %}
    </div>
</header>

