<link href="{{url_for('static', filename='base_flash_message.css')}}" rel="stylesheet" type="text/css">
<script src="{{url_for('static', filename='javascripts/flash_message.js')}}"></script>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
